<!DOCTYPE html>
<html>
 
<body>
<h1>Calculator</h1>

<form id ="add" action="/calculator/add" method="post">
  <label for="num1">num1:</label><br>
  <input type="number" id="num2" name="num1" value=><br>
  <label for="num2">num2:</label><br>
  <input type="number" id="num1" name="num2" value=><br><br>
  <label for="num3">answer:</label><br>
  <input type="text" name="num3" id="num3" readonly placeholder="Answer" value="{{c}}">
  <button id="add" type="submit">Add</button>
   <button id="sub" type="submit" formaction="/calculator/sub">
            sub
        </button>
   <button id="multi" type="submit" formaction="/calculator/multi">
            multi
        </button>
</form>

<script>
    $("#add").click(function(){
  $.ajax({url: "/calculator/add", success: function() 
});
 $("#sub").click(function(){
  $.ajax({url: "/calculator/sub", success: function() 
});
$("#multi").click(function(){
  $.ajax({url: "/calculator/multi", success: function() 
});
</script>

</body>
</html>
